@import './../vendors/reset';
@import './../include/progress-bar';
@import './../include/menu-button';

:root {
  --black: black;
  --grey: grey;
  --white: white;
  --beige: #e2e3c3;
  --blue: #084b87;
  --red: #ca4363;
  --purple: #594662;
  --orange: #ed624a;
  --yellow: #f6d532;
}

html {
  font-size: 62.5%;
}

.button {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  appearance: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.width-limit {
  max-width: 136.6rem;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}

.hidden {
  display: none;
}

.kerning_06 {
  letter-spacing: -.6rem;
}

.kerning_2 {
  letter-spacing: -2rem;
}

.card_text_black .card__paragraph {
  color: var(--black);
}

.card_title_beige .card__title {
  color: var(--beige);
}

.desktop .card_bg {
  background-image: url(./../../assets/img/noisy.png);
  background-blend-mode: multiply;
  /*background-attachment: fixed;*/
}

.card_bg_beige {
  background-color: var(--beige);
}

.card {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  position: relative;
  background-color: var(--white);
}

.card_0 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;

  & .width-limit {
    position: relative;
    height: 100vh;
    max-height: 78rem;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 121.5rem;
      height: 64.8rem;
      bottom: 0;
      right: 3rem;
      background-image: url(./../../assets/img/hero.jpg);
      background-size: cover;
      background-position: center center;
      z-index: -1;
    }
  }

  & .card__header {
    margin: 20rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70rem;
    height: 36rem;
    padding: 2.6rem 0 2.6rem 12rem;
    background-size: 50%;
    background-color: var(--orange);
    color: var(--beige);
  }

  & .card__paragraph {
    width: 95%;
    max-width: 95%;
  }

  & .card__title {
    margin-top: 0;
  }
}

.desktop .card_0 .card__header {
  background-image: url(./../../assets/img/noisy.png);
  background-blend-mode: multiply;
}

.card_1 {
  margin-top: 100vh;
}

.card__title {
  font-size: 8.4rem;
  font-family: Kabel, sans-serif;
  text-transform: uppercase;
  line-height: 10rem;
  letter-spacing: -.4rem;
  margin-top: 13.5rem;
}

.card__paragraph {
  font-size: 2rem;
  line-height: 3.4rem;
  font-family: Quattrocento, verdana, serif;
}
