html { font-size: 62.5%; }

@media only screen and (width < 1080px) {

  .progress-bar {
    display: none;
  }

  .menu-button {
    top: 2.5rem;
  }

  .music-player {
    top: 2.8rem;
  }

  .card_0 {
    height: 100rem;
    position: relative;

    & .width-limit {
      height: 100%;
      max-height: 100%;

      &::after {
        right: -6rem;
        top: 0;
        background-image: url(../../assets/img/hero-small.jpg);
      }
    }

    & .card {

      &__header {
        width: 100%;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 4rem 0 4rem 12rem;
        justify-content: flex-start;
      }

      &__title {
        line-height: 8rem;
      }

      &__paragraph {
        margin: 3rem 0 0;
      }
    }
  }

  .card_1 {
    margin-top: 0;
    min-height: auto;
    height: auto;
    position: static;

    &__video {
      position: static;
      min-height: auto;
      height: auto;
      left: 0;
      top: 0;
      transform: none;
      margin-bottom: -.2rem;
    }
  }

  .card_2 .artwork__figure {
    bottom: -12rem;
  }
}
