html { font-size: 62.5%; }

@media only screen and (width <= 1180px) {

  .card_4 .card__artwork {
    margin-right: -3rem;
  }

  .card_7 .card__paragraph {
    margin: 0 6rem 0 0;
  }

  .card__paragraph {
    width: 40rem;
  }

  .card__sub-title {
    width: 43rem;
    line-height: 5rem;
  }
}
