html { font-size: 62.5%; }

@media only screen and (width <= 1200px) {

  .card_text_left .card__text {
    margin-left: 3rem;
  }

  .card_text_right .card__text {
    margin-right: 3rem;
  }

  .card_5 .card__artwork {
    width: 53rem;
  }

  .card__paragraph {
    width: 52rem;
  }
}
