html { font-size: 62.5%; }

@media only screen and (width <= 1320px) {

  .card_text_right .card__text {
    margin-right: 6rem;
  }

  .card_text_left .card__text {
    margin-left: 6rem;
  }

  .card_2 {

    & .artwork {

      &__figure {
        right: -9rem;

        &::before {
          width: 48rem;
        }
      }

      &__figure,
      &__image {
        width: 48rem;
        height: auto;
      }
    }
  }

  .card_6 {

    & .card {

      &__column {
        flex-direction: column-reverse;
      }

      &__text,
      &__artwork {
        width: calc(100vw - 12rem);
        margin: 0 6rem;
      }

      &__text {
        width: auto;
      }

      &__title {
        position: static;
        text-align: left;
        margin-left: 0;
      }

      &__paragraph {
        width: 49rem;
        margin: 5rem 0 0;
      }

      &__artwork {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 8rem;
        margin-bottom: 10rem;
      }
    }
  }
}
