html { font-size: 62.5%; }

@media only screen and (width < 920px) {

  .menu {
    font-size: 2rem;

    &__list__item {
      margin: 3rem 0;
    }
  }

  .card_0 .card__title {
    position: static;
  }

  .line-height-extra {
    line-height: 11.1rem;
  }

  .card_3 .card__title {
    top: 0;
    position: static;
  }

  .card_2 {

    & .card__artwork {
      width: 80vw;
      margin: 0 auto;
      position: relative;
      height: 38rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      right: auto;
    }

    & .artwork__figure {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;

      &::before {
        width: 100%;
        height: 70%;
        top: -3rem;
        left: -6rem;
      }
    }
  }

  .card_3 {

    & .card__column {
      flex-direction: column-reverse;
      margin-bottom: 0;
    }

    & .card__artwork {
      width: 100vw;
      height: 56vw;
    }
  }

  .card_4 {

    &.card_text_left .card__text {
      margin-bottom: 45rem;
    }

    & .card__artwork {
      margin: 0;
      top: auto;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);

      &__carousel {
        position: absolute;
        width: 50rem;
        height: 50rem;
      }
    }
  }

  .card_5 {

    & .card__column {
      flex-direction: column-reverse;
      margin-bottom: 0;
    }

    & .card__artwork {
      position: relative;
      width: 100vw;
      height: 56vw;
      margin: 0 auto;
    }
  }

  .card {

    &__text {
      width: 60vw;
      position: relative;
    }

    &__title {
      top: 0;
      left: 0;
      line-height: 11.1rem;
    }

    &__paragraph {
      width: calc(100% - 3rem);
      max-width: calc(100% - 3rem);
    }

    &_text_left .card__text,
    &_text_right .card__text {
      margin: 0 0 10rem 10vw;
    }

    &__column {
      flex-direction: column;
      margin-bottom: 10rem;
    }

    &__sub-title {
      width: 100%;
    }

    &__artwork {
      position: static;
    }
  }

  .card_6 {

    & .card {

      &__title {
        width: auto;
      }

      &__text {
        margin-bottom: 0;
      }
    }
  }

  .card_7 {

    & .card__text__column {
      flex-direction: column;
      justify-content: flex-start;
    }

    & .card__paragraph:last-child {
      margin-top: 4rem;
    }
  }
}
