@import './../include/menu';

html {
  font-size: 62.5%;
  background-color: black;
}

@import './../include/card-general.css';
@import './../include/card-1';
@import './../include/card-2';
@import './../include/card-3';
@import './../include/card-4';
@import './../include/card-5';
@import './../include/card-6';
@import './../include/card-7';

.card_fixed .card__artwork {
  position: fixed;
}

.card_fixed_bottom .card__artwork {
  position: absolute;
  top: auto;
  bottom: 0;
}

@import './../include/music-player.css';

.hidden {
  display: none;
}

@import './../breakpoints/1320';
@import './../breakpoints/1200';
@import './../breakpoints/1180';
@import './../breakpoints/1080';
@import './../breakpoints/1000';
@import './../breakpoints/920';
@import './../breakpoints/800';
@import './../breakpoints/670';
@import './../breakpoints/624';
@import './../breakpoints/520';
@import './../breakpoints/460';
