html { font-size: 62.5%; }

.card_5 {

  & .card__text {
    position: relative;
  }

  & .card__header {
    margin-bottom: 30rem;
  }

  & .card__title {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    text-align: right;
    padding-right: 6rem;
  }

  & .card__artwork {
    position: absolute;
    top: 0;
    left: 0;
    width: 60rem;
    height: 100vh;
    overflow: hidden;

    &__video {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      min-width: 100%;
      min-height: 100%;
    }
  }
}

.mobile .card_5 .card__artwork {
  display: none;
}
