:root {
  --grey: grey;
  --orange: #ed624a;
}

html { font-size: 62.5%; }

.card_6 {
  position: relative;

  & .card__artwork,
  & .berlin-trilogy__react-root {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  & .card {

    &__artwork {
      position: absolute;
      left: 12rem;
      top: 16rem;

      &__album,
      &__image {
        width: 22rem;
        height: 22rem;
      }

      &__album {
        background-color: var(--grey);
        margin: 0 3rem 0 0;
        transition: all .2s;
        position: relative;
        margin-bottom: 5rem;

        &__icon {
          display: block;
          width: 50%;
          height: 50%;
          margin: 25% 0 0 25%;

          &__fill {
            fill: white;
          }
        }

        &__hover,
        &__playing {
          transition: all .2s;
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, .7);
        }

        &__playing {
          opacity: 1;
        }

        &:hover {
          cursor: pointer;

          & .card__artwork__album__hover {
            opacity: 1;
          }
        }
      }

      &__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 3rem;
        font-weight: 800;
        font-style: italic;
        color: var(--orange);
      }
    }

    &__column {
      min-height: 100vh;
      position: relative;
    }

    &__text {
      position: relative;
      width: 26rem;
      margin: 15.5rem 0 0 88rem;
    }

    &__paragraph {
      margin-left: 0;
      width: 26rem;
      text-align: left;
    }

    &__title {
      position: absolute;
      width: 100vw;
      top: 17rem;
      right: -14rem;
      text-align: right;
    }
  }
}
