html { font-size: 62.5%; }

.card_1 {
  margin-top: 100vh;
  position: relative;

  &__video {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
