:root {
  --black: black;
  --grey: grey;
  --white: white;
  --beige: #e2e3c3;
  --blue: #084b87;
  --red: #ca4363;
  --purple: #594662;
  --orange: #ed624a;
  --yellow: #f6d532;
}

html { font-size: 62.5%; }

.line-height-extra {
  line-height: 12rem;
}

.card {

  &__sub-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 4.4rem;
    font-weight: 800;
    font-style: italic;
    margin: 4.5rem 0 1.5rem;
  }

  &__text {
    margin-bottom: 12rem;
  }

  &__paragraph {
    max-width: 49rem;
    margin-left: 3rem;
    text-align: justify;
  }

  &__artwork {
    position: absolute;
  }

  &__column {
    display: flex;
    flex-direction: row;
  }

  &_text {

    &_white { color: var(--white); }

    &_black { color: var(--black); }

    &_beige { color: var(--beige); }

    &_left .card__column { justify-content: flex-start; }

    &_left .card__text { margin-left: 12rem; }

    &_right .card__column { justify-content: flex-end; }

    &_right .card__text { margin-right: 12rem; }
  }

  &_bg {

    &_black { background-color: var(--black); }

    &_purple { background-color: var(--purple); }

    &_grey { background-color: var(--grey); }

    &_orange { background-color: var(--orange); }

    &_beige { background-color: var(--beige); }

    &_red { background-color: var(--red); }
  }

  &_mark {

    & .card__title {
      margin-left: -1.5rem;
    }

    & .mark {
      padding: 0 1.5rem;
      margin: 0 -.8rem;
    }

    &_orange .mark { background-color: var(--orange); }

    &_yellow .mark { background-color: var(--yellow); }

    &_red .mark { background-color: var(--red); }
  }

  &_title {

    &_beige .card__title,
    &_beige mark {
      color: var(--beige);
    }

    &_yellow .card__title,
    &_yellow mark {
      color: var(--yellow);
    }

    &_blue .card__title,
    &_blue mark {
      color: var(--blue);
    }

    &_purple .card__title,
    &_purple mark {
      color: var(--purple);
    }
  }

  &_subtitle {

    &_yellow .card__sub-title { color: var(--yellow); }

    &_blue .card__sub-title { color: var(--blue); }

    &_purple .card__sub-title { color: var(--purple); }
  }
}
