:root {
  --red: #ca4363;
}

html { font-size: 62.5%; }

.card_4 {

  & .card__artwork {
    position: absolute;
    width: 50rem;
    height: 50rem;
    right: 0;
    margin-right: 3rem;
    top: calc(100vh - 50rem);

    &__carousel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(./../../assets/img/heroes/heroes-0.png);
      background-position: center center;
      background-size: cover;
    }

    &__background {
      margin-left: -6rem;
      margin-top: 8rem;
      width: 30rem;
      height: 52.9rem;
      background-color: var(--red);
    }
  }
}
