:root {
  --black: black;
  --grey: grey;
  --white: white;
  --beige: #e2e3c3;
  --blue: #084b87;
  --red: #ca4363;
  --purple: #594662;
  --orange: #ed624a;
  --yellow: #f6d532;
}

html { font-size: 62.5%; }

.menu-button {
  width: 3.6rem;
  height: 3.6rem;
  position: fixed;
  top: 4.5rem;
  left: 4rem;
  z-index: 9999999;

  &__wrapper {
    position: relative;
    width: 3.6rem;
    height: 3.2rem;
  }

  &__icon {
    position: absolute;
    transition: all .1s;
    background-color: white;
    width: 100%;
    height: .75rem;

    &_top { top: 0; }

    &_middle {
      top: 50%;
      transform: translateY(-50%);
    }

    &_bottom { bottom: 0; }
  }

  &_open {

    & .menu-button__icon_middle {
      opacity: 0;
    }

    & .menu-button__icon_top {
      transform: rotate(-45deg) translate(-.8rem, .9rem);
    }

    & .menu-button__icon_bottom {
      transform: rotate(45deg) translate(-.9rem, -.8rem);
    }
  }

  &_theme {

    &_hidden .menu-button { opacity: 0; }

    &_beige .menu-button__icon { background-color: var(--beige); }

    &_yellow .menu-button__icon { background-color: var(--yellow); }

    &_orange .menu-button__icon { background-color: var(--orange); }

    &_blue .menu-button__icon { background-color: var(--blue); }
  }
}
