:root {
  --black: black;
  --white: white;
  --beige: #e2e3c3;
  --blue: #084b87;
  --purple: #ca4363;
  --orange: #ed624a;
  --yellow: #f6d532;
}

html { font-size: 62.5%; }

.menu {
  position: fixed;
  z-index: 9999998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-family: Kabel;
  font-size: 4rem;

  background-color: var(--purple);
  color: var(--beige);

  display: flex;
  justify-content: center;
  align-items: center;

  &__close {
    display: block;
    position: absolute;
    top: 5rem;
    left: 5rem;

    appearance: none;
    border: none;
    border-radius: none;
    width: 4rem;
    height: 4rem;
  }

  &__list__item {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 4rem 0;

    &:hover {
      color: var(--yellow);
      font-weight: 800;
      cursor: pointer;
    }
  }
}
